h2{
    color: orange;
}
button{
    background-color: blue;
    color: white;
}
p{
    background-color: black;
    color: white;
}
/* h1{
    color: #0000ff;
} */
h1{
    color: #fff;
    background-color: #000;
    background-color: #000;
}