#container{
    height: 500px;
    width: 60%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    align-content: flex-start;
    /* align-content: space-evenly; */
    /* align-content: space-around; */
    /* align-content: space-between; */
    /* align-content: flex-end; */
    /* align-content: flex-start; */
    /* align-items: baseline; */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: nowrap; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* justify-content: flex-start; */

    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

}

h1{
    text-align: center;
}

#org{
    align-self: flex-start;
    flex-shrink: 1;
    /* flex-grow: 1; */
    /* flex-basis: 50px; */
    /* align-self: center; */
    /* align-self: flex-end; */
    /* align-self: flex-start; */
}
#blue{
    flex-shrink: 2;
    /* flex-basis: 400px; */
    /* flex-grow: 2; */
    /* max-width: 400px; */
}
#container div{
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}