/* Universal seletor */
*{
    font-family: 'Courier New', Courier, monospace;
}

/* element selector */

h3,h1{
    color: #b92b27;
}

/* id selector */

#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}

/* class selector */

.upvote{
    background-color: green;
    color: white;
}

/* descendent selector */

.post a{
    color: purple;
    background-color: yellow;
}
nav ul li a{
    color: hotpink;
}

p + h3{
    text-decoration: underline;
}
.upvote + button{
    background-color: cornflowerblue;
    color: darkblue;
}
div > input{
    background-color: darksalmon;
}

input[type="text"] {
    color: red;
}
input[type="password"] {
    color: green;
}

input[type]{
    background-color: ghostwhite;
}

button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: none;
}
button:active{
    background-color: hotpink;
    color: black;
}
p:active{
    font-weight: bold;
    color: green;
}
input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}

div:nth-of-type(3n){
    background-color: blueviolet;
}
h1::first-letter{
    color: green;   
}
p::first-line{
    color: purple;
}
p::selection{
    background-color: red;
}
h3{
    background-color: blue;
}