section{
    margin-top: 100px;
}


div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}

div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color: #ebb02d;
}

/* transform */
#one{
    transform: rotate(45deg);
    /* transform: rotate(90deg); */
    /* transform: rotate(180deg); */
}

#two{
    /* transform: scale(0.5); */ 
    /* transform: scale(2); */
    /* transform: scale(0.5, 2); */
    /* transform: scale(2, 0.5); */
    /* transform: scaleX(0.5); */
    transform: scaleY(0.5);
}
#three{
    /* transform: translate(100px, 100px); */
    transform: translateX(100px);
}
#four{
    transform: skew(30deg);
}
#five{
    transform: rotate(30deg) translateX(150px);
}