div{
    height: 100px;
    width: 100px;
    background-color: #4dff00ff;
    /* transition: 1s; */
    /* transition-duration: 1s;
    transition-delay: 1s; */
    margin: 0 auto;
    transition: margin-top 2s ease-in 0.2s;
}
div:hover{
    /* background-color: black;
    border-radius: 50%; */
    margin-top: 400px;
    background-color: pink;
}