#box1{
    width: 100px;
    height: 100px;
    background-color: green;
    transition: width 2s ease-in 0.5s;
}
#box1:hover{
    width: 600px;
    /* background-color: pink; */
   
}

#box2{
    width: 100px;
    height: 100px;
    background-color: red;
    transform: translate(200px, 200px) rotate(90deg);
}
#box3{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    transform: skewX(20deg);
}

#box4{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    box-shadow: 5px 5px 10px green;
}

#myPic{
    width: 200px;
    height: 200px;
    background-color: pink;
    background-image: url("pic.jpg");
    background-size: cover;
    opacity: 50%;
}