div{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;
}

.one{
    background-color: aquamarine;
    position: relative;
    z-index: 1;
}
.two{
    background-color: darksalmon;
    bottom: 50px;
    position: relative;
    z-index: 2;
}